html{
    position: relative;
    min-height: 100%;
}
h1, p, table, div, a{
    font-family: Tahoma, Verdana, sans-serif;
}
#bg-head{
    background-color: rgb(34,37,41); 
    padding-top: 20px; 
}
#subtitle{
    font-size: 20px;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
}

#title{
    padding: 20px;

}
#impressum{
    padding-left: 20px;
}
#personalDataPilz,#personalDataBalzer{
    width: 50%;
}
